$iconwidth: 30px;

.example-spacer {
  flex: 1 1 auto;
}

.sidenav-toggle {
  display: none;
  padding: 0;
  min-width: $iconwidth;

  @media (max-width: 720px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  mat-icon {
    font-size: 30px;
    height: $iconwidth;
    width: $iconwidth;
    font-language-override: $iconwidth;
    color: white;
  }
}
